feat: Dynamic/runtime file serving

**Description**

It would be really useful to be able to serve specific files dynamically rather than relying on serving static folders. For instance something along the lines of Plex or Emby that serves media files, you don't really want to expose the internal file system to the end users but you do need to serve individual files from a route. If files are large, as is the case with media files, you don't want to read the entire file into memory to be able to serve it, so the `Response.bytes` constructor is not ideal.

There could be a `Response.file` constructor that can serve any `File`, it should also be able to respond to range requests and the like.

Another option might be to expose a `Response.stream` constructor to which you could pass a `Stream<List<int>>` (which is one of the options shelf is expecting) and let userland handle the head, and range request things.

**Requirements**

- [ ] Serve files dynamically at run time without serving an entire folder

**Additional Context**

Took a stab at adding something to the response, it could look something like this (not ideal because you need to know the request type to handle head requests and you need the range header as well). The `_fileRangeResponse` method was lifted from shelf.

```dart
Response.file({
    required Request request,
    required File body,
    Map<String, Object> headers = const <String, Object>{},
    String contentType = 'application/octet-stream',
  }) {
    final stat = body.statSync();
    _response = _fileRangeResponse(
          request,
          body,
          {...headers, HttpHeaders.acceptRangesHeader: 'bytes'},
          contentType,
        ) ??
        shelf.Response.ok(
          request.method == HttpMethod.head ? null : body.openRead(),
          headers: {
            ...headers,
            HttpHeaders.acceptRangesHeader: 'bytes',
            HttpHeaders.contentLengthHeader: '${stat.size}',
            HttpHeaders.contentTypeHeader: contentType,
          },
        );
  }

shelf.Response? _fileRangeResponse(
    Request request,
    File file,
    Map<String, Object> headers,
    String contentType,
  ) {
    final range = request.headers[HttpHeaders.rangeHeader];
    if (range == null || !file.existsSync()) {
      return null;
    }

    final matches = RegExp(r'^bytes=(\d*)\-(\d*)$').firstMatch(range);
    // Ignore ranges other than bytes
    if (matches == null) {
      return null;
    }

    final actualLength = file.lengthSync();
    final startMatch = matches[1]!;
    final endMatch = matches[2]!;
    if (startMatch.isEmpty && endMatch.isEmpty) {
      return null;
    }

    int start; // First byte position - inclusive.
    int end; // Last byte position - inclusive.
    if (startMatch.isEmpty) {
      start = actualLength - int.parse(endMatch);
      if (start < 0) start = 0;
      end = actualLength - 1;
    } else {
      start = int.parse(startMatch);
      end = endMatch.isEmpty ? actualLength - 1 : int.parse(endMatch);
    }

    // If the range is syntactically invalid the Range header
    // MUST be ignored (RFC 2616 section 14.35.1).
    if (start > end) return null;

    if (end >= actualLength) {
      end = actualLength - 1;
    }
    if (start >= actualLength) {
      return shelf.Response(
        HttpStatus.requestedRangeNotSatisfiable,
        headers: headers,
      );
    }
    return shelf.Response(
      HttpStatus.partialContent,
      body: request.method == HttpMethod.head
          ? null
          : file.openRead(start, end + 1),
      headers: {
        ...headers,
        HttpHeaders.contentLengthHeader: (end - start + 1).toString(),
        HttpHeaders.contentRangeHeader: 'bytes $start-$end/$actualLength',
        HttpHeaders.contentTypeHeader: contentType,
      },
    );
  }
```

Could potentially expose something like this instead:
```dart
  /// Create a [Response] with a [Stream<List<int>>] body
  Response.stream({
    int statusCode = 200,
    Stream<List<int>>? body = const Stream<List<int>>.empty(),
    Map<String, Object> headers = const <String, Object>{},
  }) : this._(
          shelf.Response(
            statusCode,
            body: body,
            headers: headers,
          ),
        );
```

Looks like the stream was added. Works for me!